[submodule "frontend"]
	path = frontend
	url = ../frontend.git
[submodule "api/extensions/orders-module"]
	path = api/extensions/orders-module
	url = ../directus-module-extension-orders.git
[submodule "api/extensions/le-gag-hooks"]
	path = api/extensions/le-gag-hooks
	url = ../directus-hooks.git
[submodule "importer"]
	path = importer
	url = ../importer.git
[submodule "api/core"]
	path = api/core
	url = https://github.com/directus/api.git
[submodule "app"]
	path = app
	url = https://github.com/directus/app.git
